body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5e5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 0 auto;
  width: 400px;
  height: auto;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}
.title {
  font-size: 16px;
  line-height: 24px;
  padding: 20px;
}
.inputGroup {
  padding: 0 20px;
  margin-bottom: 20px;
}
.inputArea {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 5px;
  margin-bottom: 5px;
}
.inputArea input {
  border: 1px solid silver;
  border-radius: 0;
  outline: none;
}
.error {
  color: red;
  margin-bottom: 5px;
  font-size: 12px;
}
.btnBlock {
  width: 300px;
  margin: 0 auto;
}
.btnBlock button {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid silver;
  margin-bottom: 20px;
}
.btnBlock button:hover {
  cursor: pointer;
}
